# shadcn instructions

Use the latest version of Shadcn to install new components, like this command to add a button component:

# project instructions
hono folder contains Bun Hono backend for this project. use that for backend.
tanstack start as SPA, Client side only
use tanstack docs latest
tanstack query
use react composiiton patterns, best practices skills
use shadcn skills, shadcn components everytime
zustand for state management when needed
use zod

```bash
pnpm dlx shadcn@latest add button
```
